@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f3e8ec;
}

main {
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}



.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}



.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #ff5892;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}
#sidebar.open-sidebar ~ .pagina {
    width: calc(100% - 240px); /* Ajusta o espaço restante quando o menu estiver aberto */
}
.cabecalho{
    width: 100%;
    height: 75px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho span{

    color: #ff5892;
}
.cabecalho h1{
    color:#000;
}
 .cabecalho h1.move-title {
    transform: translateX(300px); /* Ajuste esse valor conforme necessário*/
}

.cabecalho h1 {
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-left: 0;
}

.pagina {
    width: calc(100% - 82px); /* A página começa após o menu lateral */
    height: calc(100% - 75px); /* Ajuste para não sobrepor o cabeçalho */
    padding-left: 20px;
    transition: width .6s ease; /* Suaviza a transição de largura quando o menu expande */
}


.content {
    width: 100%;
    height: 100%;
    display: flex;
     gap: 20px;
     
  }
  
  .cartao {
    width: 48%;
    height: 60%;
    display: flex;
    justify-content: center; /* Centraliza o cartão horizontalmente dentro da div cartao */
    align-items: center; /* Centraliza o cartão verticalmente */
    
    margin: 20px;
  }
.flip-card {
    background-color: transparent;
    width: 240px;
    height: 154px;
    perspective: 1000px;
    color: white;
  }
  
  .heading_8264 {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.5em;
    top: 2em;
    left: 18.6em;
  }
  
  .logo {
    position: absolute;
    top: 6.8em;
    left: 11.7em;
  }
  
  .chip {
    position: absolute;
    top: 2.3em;
    left: 1.5em;
  }
  
  .contactless {
    position: absolute;
    top: 3.5em;
    left: 12.4em;
  }
  
  .number {
    position: absolute;
    font-weight: bold;
    font-size: .6em;
    top: 8.3em;
    left: 1.6em;
  }
  
  .valid_thru {
    position: absolute;
    font-weight: bold;
    top: 635.8em;
    font-size: .01em;
    left: 140.3em;
  }
  
  .date_8264 {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 13.6em;
    left: 3.2em;
  }
  
  .name {
    position: absolute;
    font-weight: bold;
    font-size: 0.5em;
    top: 16.1em;
    left: 2em;
  }
  
  .strip {
    position: absolute;
    background-color: black;
    width: 15em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(
      45deg,
      #ffffff,
      #ffffff 10px,
      #f0f0f0 10px,
      #f0f0f0 20px
    );

  }
  
  .mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 1.2em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
  }
  
  .sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 1.2em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
    justify-content: center;
    align-items: center;
  }
  
  .code {
    font-weight: bold;
    text-align: center;
    margin: .1em;
    color: black;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background: linear-gradient(135deg, #ff5892 0%, #ff739b 40%, #ff99b3 80%, #ffc1cc 100%);

  }
  
  .flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background: linear-gradient(135deg, #ff5892 0%, #ff739b 40%, #ff99b3 80%, #ffc1cc 100%);

    transform: rotateY(180deg);
  }

  .dados{width: 48%;
    height: 60%;
    display: flex;
    justify-content: center; /* Centraliza o cartão horizontalmente dentro da div cartao */
    align-items: center; /* Centraliza o cartão verticalmente */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }




  
  .dados h1 {
    color: #ff5892;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Exibe as informações em duas colunas */
    gap: 15px;
  }
  
  .info p {
    background-color: #f3e8ec;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
    margin: 0;
    transition: all 0.3s ease;
    border: 2px solid black;
  }
  
  .info .nome,
  .info .email,
  .info .numero-cartao,
  .info .seu-plano
   {
    font-size: 20px;
    color: #ff5892;
    font-weight: bold;
  }
  


