@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f3e8ec;
}

main {
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}



.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}



.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #ff5892;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}
#sidebar.open-sidebar ~ .pagina {
    width: calc(100% - 240px); /* Ajusta o espaço restante quando o menu estiver aberto */
}
@media (max-width: 768px) {
    .pagina {
        width: 100%; /* Em telas menores, a página ocupará toda a largura */
    }

    #sidebar.open-sidebar ~ .pagina {
        width: calc(100% - 15%); /* Menos espaço ocupado em telas pequenas */
    }
}
.pagina {
    width: calc(100% - 82px); /* A página começa após o menu lateral */
    height: calc(100% - 75px); /* Ajuste para não sobrepor o cabeçalho */
    padding-left: 20px;
    transition: width .6s ease; /* Suaviza a transição de largura quando o menu expande */
}
.cabecalho{
    width: 100%;
    height: 75px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho span{

    color: #ff5892;
}
.cabecalho h1{
    color:#000;
}
 .cabecalho h1.move-title {
    transform: translateX(150px); /* Ajuste esse valor conforme necessário*/
}

.cabecalho h1 {
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-left: 0;
}
.content {
    display: block; /* Usamos flexbox para colocar os elementos lado a lado */
    width: auto;
    height: auto;
    justify-content: space-between; /* Espaça os itens para que fiquem ao longo da linha */
}

.inputs {
    display: flex;
    flex-direction: row; /* Mantém os inputs lado a lado */
    gap: 20px; /* Espaçamento entre os inputs e o botão */
    justify-content: center; /* Centraliza o conteúdo da div */
    align-items: center; /* Alinha verticalmente os elementos na mesma altura */
    width: 50%; /* Ajuste a largura conforme necessário */
    padding: 20px;
    background-color: #f3e8ec;
    border-radius: 10px;
}
.input-group {
    display: flex;
    flex-direction: column; /* Coloca o label acima do input */
    width: 100%; /* Cada input ocupa o espaço disponível */
}

input[type="number"],
input[type="text"]{
        font-family:"Poppins";
        border: 2px solid palevioletred ;
        border-radius: 5px;
        height: 50px;
        padding: 10px;
    }

#addData{
        border: 2px solid #d87093;
        background-color: palevioletred;
        color: #fff;
        border-radius: 5px;
        padding: 5px;
        text-decoration: none;
        margin-top: 10px;
        height: 40%;
        margin-top: 10px; /* Ajustado para mais espaço acima */
        font-weight: 500;
        font-size: medium;
}
#addData:hover {
    background-color:#e792ae ;
    color: white;
}
.graficos {
    display: flex;
    flex: 1; /* Faz com que o contêiner do gráfico ocupe o espaço restante */
    justify-content: center; /* Centraliza o gráfico horizontalmente */
    align-items: center; /* Centraliza o gráfico verticalmente */
}

.card {
    background-color: #f3e8ec;
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Faz o cartão ocupar toda a largura disponível do contêiner */
    height: 60vh;
    text-align: center;
}

canvas {
    max-width: 100%; /* Faz com que o canvas não ultrapasse a largura do card */
    height: auto; /* Mantém a altura proporcional */
}
