@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    width: 100%;
    height: 75px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.cabecalho span {
    color: #ff5892;
}

.cabecalho h1 {
    color: #000;
}

.navegacao {
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 10px;
}

.menu .link {
    border: 2px solid #d87093;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: #000;
}

.menu .link:hover {
    background-color: palevioletred;
    color: #fff;
}
.conteudo{
    height: 350px;

}
.titulo{
    font-family: "Poppins",sans-serif;
    width: 100%;
    height: 80px;
    border: #000 solid 1px;
    justify-content: center;
    align-items: center;
    font-size: medium;
    text-align: center;

}


main {
    font-family: "Poppins",sans-serif;
    /* Ajustado de 500px para 50px */
    width: 100%;
    height: calc(100vh - 75px - 80px );
    
    display: grid; 
    margin-top: 10px;
    border: #000 solid 1px;
   

}
.titulo h1{
    font-family: "Poppins",sans-serif;
    font-size: 30px;
}
.titulo h2{
    font-family: "Montsserat",sans-serif;
    font-size: 20px;
    font-weight: lighter;
}
.img1 img {
    width:450px;
}
.container{
    column-gap: 15%;
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;


}
.container p{
    padding: 30px;
    
    width: 40%;
    text-align: left;
    
    
}
