@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    width: 100%;
    height: 75px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.cabecalho span {
    color: #ff5892;
}

.cabecalho h1 {
    color: #000;
}

.navegacao {
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 10px;
}

.menu .link {
    border: 2px solid #d87093;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: #000;
}

.menu .link:hover {
    background-color: palevioletred;
    color: #fff;
}
.conteudo{
    height: 350px;

}
.titulo{
    font-family: "Poppins",sans-serif;
    width: 100%;
    height: 80px;
   
    justify-content: center;
    align-items: center;
    font-size: medium;
    text-align: center;

}


main {
    font-family: "Poppins",sans-serif;
    /* Ajustado de 500px para 50px */
    width: 100%;
    height: auto;
    
    display: grid; 
    margin-top: 10px;
    
    align-items: center;
    justify-content: center;
    
   

}
.titulo h1{
    font-family: "Poppins",sans-serif;
    font-size: 30px;
}
.titulo h2{
    font-family: "Montsserat",sans-serif;
    font-size: 20px;
    font-weight: lighter;
}
main img {
    width:400px;
    margin-top: 20px;
    
    

}
.conteudo-1{
    margin-top: 60px;
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: row-reverse;
    
    

}
.conteudo-1 img{
    margin-right: 70px;
}
.conteudo-2{
    width: 100%;
    height: auto;
   
    display: flex;
    padding: 20px;
    gap: 15px;
    
}
.conteudo-2 img{
    margin-left:60px;
}

main p{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 100px;
    align-items: center; 
}
footer{
   
    font-family: "Open-Sans", sans-serif;
        font-weight: 500;
        width: 100%;
        height: auto;
        padding: 1px 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
}
footer  span{
    color: #ff5892;

}

.redes{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes ul{
    display: flex;
    gap: 30px;
    list-style: none;
   
}
.redes ul li{
    list-style: none;
    margin: 10px;
    height: 60px;
    width: 60px;
    background-color: #d87093;
    border-radius: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
}
.redes ul li:hover{
    background-color: #f5f5f5;
    
}
.redes ul li I:hover{
    color: #d87093;
}
.redes ul i{
    color: white;
}
.
